<div class="welcome">
    <h1>welcome</h1>
    <div *ngIf="this.auth.role == 'speaker'" class="info">
    <h3>Your Info is</h3>
    <span>Id:{{speaker._id}}</span> <br>
    <span>email:{{speaker.email}}</span><br>
    <span>address:{{speaker.address.city}},{{speaker.address.street}} {{speaker.address.building}}</span> <br>
    <button pButton pRipple label="Edit Profile" icon="pi pi-user-edit" class="p-button-text" (click)="editSpeaker()"></button>

    </div>
</div>



<app-map-picker-component></app-map-picker-component>
