

<div class="container">
  <div class="row">
    <h2 class="text-center text-white">Pending Teachers</h2>

    <p-table [value]="Teachers" [paginator]="true" [rows]="10" [responsive]="true" [rowsPerPageOptions]="[10, 20, 50]">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Price Per Hour</th>
          <th>Field</th>
          <th>Registration Date</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-teacher>
        <tr>
          <td>{{ teacher.name }}</td>
          <td>{{ teacher.email }}</td>
          <td>{{ teacher.pricePerHour }} $</td>
          <td>{{ teacher.field ? teacher.field : "-" }}</td>
          <td>{{ teacher.registerationDate | date }}</td>
          <td>{{ teacher.Active ? 'Accepted' : 'Pending' }}</td>
          <td>
            <button *ngIf="!teacher.Active" pButton type="button" class="p-button-primary mr-2" (click)="Accept(teacher._id)">Accept</button>
            <button pButton type="button" class="p-button-danger" (click)="Delete(teacher._id)">Delete</button>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>
