<div class="container d-flex justify-content-center align-items-center py-5">
  <div class="card p-4" *ngIf="teacher">
    <div class="row no-gutters">
      <div class="col-4">
          <p class="text-center"><img src="https://cdn-icons-png.flaticon.com/512/236/236832.png?w=740&t=st=1686602676~exp=1686603276~hmac=bfac87bcbd677600994632eff482d6967a7aa40d4df636cb8282097f330cfbb6"
            class="card-img"/></p>      
      </div>
      <div class="col-6 ">
        <div class="card-body">
          <h4 class="card-title mb-4">{{ teacher.name }}</h4>
          <p class="card-text mb-2">Email: {{ teacher.email }}</p>
          <p class="card-text mb-2">Phone: {{ teacher.phone }}</p>
          <p class="card-text mb-2">Price: ${{teacher.pricePerHour}} <small class="text-danger">/hour</small></p>
          <p class="card-text mb-2">Field: {{teacher.field }}</p>
          <p class="card-text mb-2">
            <p-rating [(ngModel)]="teacher.averageRating" [disabled]="true" [cancel]="false"></p-rating>

          </p>
          <label *ngIf="!IsEnrollerd " class="text-danger d-block">Note :  You Must enroll to Contact Teacher</label>

          <button *ngIf="!IsEnrollerd&& Role=='student'" class="btn btn-success mt-4 mx-3" (click)="Enroll()">Enroll</button>
          <button class="btn btn-primary mt-4" [disabled]="!IsEnrollerd" (click)="SendMessage()">Contact teacher</button>

        <div *ngIf="!IsRated && IsEnrollerd">
<h5>Rate Your Teacher :</h5>
  <textarea [(ngModel)]="feedback" type="text" id="feedback" class="fadeIn second" name="username" placeholder="Feedback"></textarea>
  <p-rating [(ngModel)]="selectedRating" [cancel]="false"></p-rating>
  <button class="btn btn-success" (click)="rate()"> Submit Rate</button>

        </div>
        <div *ngIf="IsRated && IsEnrollerd">
          <p style="color: Red;">Thank You!</p>

        </div>
      </div>
      </div>
    </div>
  </div>
</div>
