<h2 class="text-center text-white">Students List</h2>
<br>
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <p-table [value]="students" [paginator]="true" [rows]="10" [responsive]="true" [rowsPerPageOptions]="[10, 20, 50]">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Registration Date</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-student>
    <tr>
      <td>{{ student.name }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.registerationDate | date }}</td>
      <td>{{ student.Active ? 'Yes' : 'No' }}</td>


      <td>
        <button *ngIf="student.Active" pButton type="button" class="p-button-danger" (click)="Block(student._id)">Block</button>
        <button *ngIf="!student.Active" pButton type="button" class="p-button-primary" (click)="Active(student._id)">Active</button>
        <button pButton type="button" class="p-button-danger mx-2" (click)="Delete(student._id)">Delete</button>
      </td>
    </tr>
  </ng-template>
</p-table>
        </div>
</div>
