<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row">
          <div class="col-12 mb-5">
            <div id="map" style="height: 600px;"></div>
          </div>
    
    </div>
  </div>
</section>
<h1 class="text-center mb-5 text-info" style="font-family: cursive;">Top Rated Teachers</h1>

<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6 col-lg-4 my-4 mb-md-0" *ngFor="let teacher of highestRatedTeachers; let i = index">
        <div class="card rounded-3">
          <div class="d-flex justify-content-between p-3">
            <h5 class=" mb-0">{{teacher.name}}</h5>
            <div
              class="rounded-circle d-flex align-items-center justify-content-center shadow-3-strong"
              style="width: 50px; height: 50px;">
              <h5 class="text-warning mb-0  ">+ {{teacher.experienceYears}} Years</h5>
            </div>
          </div>
          <p class="text-center"><img width="10px" src="https://cdn-icons-png.flaticon.com/512/236/236832.png?w=740&t=st=1686602676~exp=1686603276~hmac=bfac87bcbd677600994632eff482d6967a7aa40d4df636cb8282097f330cfbb6"
            class="text-center" style="width: 270px; " /></p>
            <hr class="text-muted mx-3">
          
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5 class="">{{teacher.field}}</h5>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0"></h5>
              <h5 class="text-danger mb-0">${{teacher.pricePerHour}} <small>/hour</small></h5>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="card-price mt-3">
                <p-rating [(ngModel)]="teacher.averageRating" [disabled]="true"  [cancel]="false"></p-rating>
              </h4>
              <a class="btn btn-success" *ngIf="(!this.login.isloggedin);else NotClickable" aria-disabled="true">Contact</a>
              <ng-template #NotClickable>
                <a class="btn btn-success" href="teacherDetail/{{teacher._id}}">Contact</a>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>