<div class="wrapper fadeInDown">
    <div id="formContent">



      <div class="fadeIn first">
        <img src="assets/img/st.jpg" id="icon" alt="User Icon" />
      </div>

      <p-selectButton  (ngModelChange)="updateGUI()" [options]="roles"
       [(ngModel)]="selectedRole" optionLabel="label" optionValue="value"></p-selectButton>

      <form  [formGroup]="form" (submit)="submit()">
        <input formControlName ="name" type="text"  class="fadeIn second" name="name" placeholder="Name"required>
        <input  formControlName ="email" type="email" class="fadeIn fourth" name="email" placeholder="Email" required>

        <input  formControlName ="password" type="password" class="fadeIn third" name="password" placeholder="password"required>
    <br>
    <div #address style = "display:none" >
      <input  formControlName ="Phone" type="text" class="fadeIn fourth" name="email" placeholder="phone">
      <input  formControlName ="field" type="text" class=" fadeIn " name="field" placeholder="field of knowloadge" >
      <input  formControlName ="experienceYears"  type="text" class="fadeIn  " name="experience" placeholder="years of experience" >
      <input  formControlName ="pricePerHour"   type="text" class=" fadeIn " name="price" placeholder="Price /hour" >
      <input  formControlName ="Latitude"   type="text" class=" fadeIn " hidden >
      <input  formControlName ="Longitude"   type="text" class=" fadeIn " hidden >

    </div>
      <br>



    <div class="fadeIn first">
      <img src="assets/img/st.jpg" id="icon" alt="User Icon" />
    </div>

    <p-selectButton  (ngModelChange)="updateGUI()" [options]="roles"
     [(ngModel)]="selectedRole" optionLabel="label" optionValue="value"></p-selectButton>

    <form  [formGroup]="form" (submit)="submit()">
      <input formControlName ="name" type="text"  class="fadeIn second" name="name" placeholder="Name"required>
      <input  formControlName ="email" type="email" class="fadeIn fourth" name="email" placeholder="Email" required>

      <input  formControlName ="password" type="password" class="fadeIn third" name="password" placeholder="password"required>
  <br>
  <div #address style = "display:none" >
    <input  formControlName ="Phone" type="text" class="fadeIn fourth" name="email" placeholder="phone"required>
    <input  formControlName ="field" type="text" class=" fadeIn " name="field" placeholder="field of knowloadge" required>
    <input  formControlName ="experienceYears"  type="text" class="fadeIn  " name="experience" placeholder="years of experience" required>
    <input  formControlName ="pricePerHour"   type="text" class=" fadeIn " name="price" placeholder="Price /hour" required>
  </div>
    <br>

      <input type="submit"  class="fadeIn fourth " value="Registr">

    </form>




