
<div class="container d-flex justify-content-center align-items-center py-5">
  <div class="card p-4" >
    <div class="row no-gutters">
      <div class="col-4">
          <p class="text-center"><img src="https://cdn-icons-png.flaticon.com/512/236/236832.png?w=740&t=st=1686602676~exp=1686603276~hmac=bfac87bcbd677600994632eff482d6967a7aa40d4df636cb8282097f330cfbb6"
            class="card-img"/></p>      
      </div>
      <div class="col-6 ">
        <div class="card-body">
          <div class="p-col-12 p-md-8">
            <p class="p-card-text"><i class="pi pi-envelope"></i> {{ teacher.email }}</p>
            <p class="p-card-text"><i class="pi pi-phone"></i> {{ teacher.phone }}</p>
            <p class="p-card-text"><i class="pi pi-money-bill"></i> {{ teacher.pricePerHour }} $/ Hour</p>
            <p class="p-card-text"><i class="pi pi-award"></i> {{ teacher.experienceYears }} Years of Experience</p>
            <p class="p-card-text">
              <p-rating [(ngModel)]="teacher.averageRating" [disabled]="true" [cancel]="false"></p-rating>
            </p>
            <p class="p-card-text"><i class="pi pi-calendar"></i> {{ teacher.registerationDate | date }}</p>
            <p class="p-card-text"><i class="pi pi-check-circle"></i> {{ teacher.Active ? 'Active' : 'Inactive' }}</p>
            <p class="p-card-text"><i class="pi pi-calendar-check"></i> {{ teacher.AcceptanceDate | date }}</p>
          </div>
      </div>
      </div>
      <hr>
      <h5 class="p-card-title">My Students</h5>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of teacher.studentEnrolled">
          <div class="d-flex align-items-center">
            <div class="mr-2">
              <h6 class="mb-0">{{ item.name }}</h6>
              <small class="text-muted"><i class="pi pi-envelope"></i> {{ item.email }}</small>
            </div>
            <div class="">
              <a class="btn btn-success btn-sm mx-5" href="Contact/{{ item._id }}/{{ TeacherId }}"><i class="pi pi-eye"></i> Contact Student</a>
            </div>
          </div>
        </li>
      </ul>

      
    </div>
  </div>
</div>
